<!DOCTYPE html>
<html ng-app="VoltaPlanner" >
    <head>
        <title>"VoltaPlanner"</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

        <!-- Google map API -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtTQsZN8jV47bQzjC6WBd6DQjOeyn6DW4&libraries=places&callback=initMap"
                async defer></script>
        <script src="../javascripts/app_controller.js" ></script>

    </head>
    <body>
        <div ng-controller="mainController">
            <h1>Volta Trip Planner</h1>
            <p>This estimates whether you can make it through to your destination, going through Volta charging
                stations as necessary. To start, enter in your starting and ending locations
                as well as the range of your electric car.
                <br/>
                <i>Disclaimer: the route calculator so far assumes a straight line distance between points, so it'll probably underestimate the travel distance.</i>
            </p>
            <form ng-submit="planTrip()">
                <label for="start_location">Start address:</label>
                <input id="start_location" type="text" required />
                <br/>
                <label for="end_location">Destination adress:</label>
                <input id="end_location" type="text" required />
                <br/>
                <label for="max_mileage">Maximum range of car (in miles):</label>
                <input id="max_mileage" type="number" required />
                <br/>
                <input class="button" type="submit" value="Find route" ></input>
            </form>
            <br/>
            <div id="map" style="height:500px"></div>
        </div>
    </body>
</html>
